/* stylelint-disable selector-no-qualifying-type */
body.keywords {
  &.index {
    .keywords-table {
      max-height: 75vh;
      overflow: auto;

      &__body {
        font-variant-numeric: tabular-nums;
      }

      &__pagination {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
      }
    }

    .scrape-result-search-form {
      display: flex;
      justify-content: end;
      margin-bottom: 1rem;

      &__input {
        width: 300px;
      }
    }
  }

  &.show {
    .keyword-details {
      &__page-view {
        width: 100%;
        height: 70vh;
      }
    }
  }
}
/* stylelint-enable selector-no-qualifying-type */
